.body-img{
    z-index: 0%;
    width: 101%;
    height: 101%;
    padding:0;
    border: 0;
    margin:0;
    position:fixed;
    left:0;
    top:0;
}

.title-img{
    z-index:0.5;
    position: fixed;
    top: 0;
    left: 30%;
    width: 40%;

}

#row1{
    width: 100%;
    position: fixed;
    top: 5%;
}
#row2{
    width: 100%;
    position: fixed;
    top: 25%;
}
#row3{
    width: 100%;
    position: fixed;
    top: 45%;
}
.player{
    position: fixed;
    right: 2.5%;
}
.player img{
    width: 175px;
    height: 175px;
}
.enemy{
    left: 2.5%;
}
.skeleton img{
    width: 7%;
}

.boss img{
    width: 15%;
    max-height: 16%;
}

.HP{
    color: rgb(247, 6, 6);
    font-size: 150%;
}

.MP{
    color: rgb(0,0,255);
    font-size: 150%;
}

#infoBox{
    position:fixed;
    left:3%;
    bottom:.5%;
    height: 24.5%;
    width: 30%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;
    font-size: 125%;
}

.actionInfo{
    position: fixed;
    left: 3%;
    font-size: 150%;
    color: white;
}

.characterInfo{
    position: fixed;
    left: 75%;
    font-size: 150%;
}
.label{
    bottom: 25%;
}
.c1{
    top: 20%;
    left:65.75%;
    background-color: rgba(0, 0, 0, 0.1);
}

.c2{
    top: 40%;
    left:65.75%;
    background-color: rgba(0, 0, 0, 0.1);
}

.c3{
    top: 60%;
    left:65.75%;
    background-color: rgba(0, 0, 0, 0.1);
}

.name{
    color: yellow;
}

.mana{
    position: fixed;
    left: 70%;
    color: blue;
}

#name{
    position:fixed;
    right:40%;
    top:570px;
    color: yellow;
    font-size: 150%;
}

#loseLink{
    visibility: hidden;
}

#youDW{
    position: fixed;
    top: 40%;
    left: 0%;
    height: 20%;
    width: 100%;
    z-index: 1;
}

#buttons{
    position: fixed;
    bottom: 2.5%;
    font-size: 20px;
}

.button{
    background-color: transparent;
    border-color: white;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    position:fixed;
    width: 6.75%;
    height: 12%;
}

.Attack{
    left:35.5%;
    bottom:12.5%;
}
.AOE{
    left:35.5%;
    bottom:0%;
}
.Heal{
    left: 42.5%;
    bottom: 12.5%;
}
.Item{
    left:42.5%;
    bottom:0%;
}
.icon{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#start{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    background-color: black;
}

.start-img{
    z-index:0.5;
    position: fixed;
    left: 30%;
    width: 40%;
    top: 40vh;
}

.start{
    z-index:0.5;
    font-size: 100%;
    position: fixed;
    width: 40%;
    left: 30%;
    color: white;
    background-color: black;
}

.DS{   
    top: 57vh;
}

.FF{
    top: 62vh;
}

.NGE{
    top: 67vh;
}

#infoBox2{
    position:fixed;
    right:3%;
    bottom:.5%;
    height: 24.5%;
    width: 40%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;
    font-size: 125%;
}

#restart{
    position: fixed;
    top: 0%;
    left: 0%;
    color: black;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px;
}

#restart:hover{
    background-color: rgba(255, 255, 255, 0.25);
}